li{
    list-style-type: none;
}
header{
    background-color: #c57955;
    color: white;
}
.card-body{
    background-color: #f8cfb8;
}
body{
 background-color: #bdc8d3;
}
.weather{
    display:none;
}
#today{
    border: 2px solid black;
}